*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8.2rem [sidebar-end full-start] minmax(6.4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6.4rem, 1fr) [full-end];
}

.section-features {
  margin: 15rem 0;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6.4rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1.8rem;
}
.feature__icon {
  fill: #c69963;
  width: 4.5rem;
  height: 4.8rem;
  grid-row: 1/span 2;
  transform: translateY(1.2rem);
}
.feature__text {
  font-size: 1.8rem;
  grid-column: 2/-1;
  margin: 0;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
}

.section-gallery {
  background-color: #54483a;
  grid-column: full-start/full-end;
}

.header {
  background-color: #54483a;
  grid-column: full-start/col-end 6;
}

.section-homes {
  background-color: #101d2c;
  grid-column: center-start/center-end;
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
}

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
}

.story__pictures {
  background-color: #c69963;
  grid-column: full-start/col-end 4;
}
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-4 {
  font-size: 1.8rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483a;
}
