@use './variables';

// Global sittings

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem === 10px;
}

body {
  font-family: variables.$font-primary;
  color: variables.$color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}
